.card-news {
  position: relative;
  display: flex;
  background: #F2F2F2;
  margin-bottom: 8px;
}

.card-news__link-wrapper {
  display: flex;
}

.card-news__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(58.55deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 43.59%);
  opacity: 1;
  transition: all 0.5s;
}

.card-news__description-name {
  max-width: 50%;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 28px;
  color: $text-light;
}

.card-news__content-block {
  max-width: 50%;
}

.card-news_full {
  max-width: 100%;
  margin: 4px 4px;

  .card-news__img-wrap {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(19.71deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 45.39%);
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

.card-news_small {
  margin: 4px;
  max-width: calc(50% - 8px);
  background: none;
  display: flex;
  flex-shrink: 1;

  .card-news__content-block {
    max-width: 100%;
  }
}

.card-news__title {
  margin-bottom: 24px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 28px;
}

.card-news__text-wrap {
  height: 100%;
  max-width: 80%;
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-news__text {
  margin-bottom: 56px;
  opacity: 0.7;
}

.card-news__mode {
  position: relative;
  display: inline-block;
  padding-left: 16px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 10px;
  color: $text-dark;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 1px;
    width: 8px;
    background: rgba(49, 49, 49, 0.2);
  }

  &::after {
    content: '';
    position: absolute;
    left: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 1px;
    width: 56px;
    background: rgba(49, 49, 49, 0.2);
  }
}

.card-news__img {
  display: block;
  width: 100%;
  height: 100%;
}

.card-news__link {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .card-news__text-wrap {
    padding: 46px;
    max-width: 100%;
  }

  .card-news__title {
    font-size: 20px;
    max-width: 83%;
  }

  .card-news__text {
    margin-bottom: 40px;
  }

  .card-news__description-name {
    font-size: 20px;
  }

  .card-news__description {
    padding: 46px;
  }
}

@media screen and (max-width: 992px) {
  .card-news__title {
    font-size: 16px;
  }

  .card-news__text {
    display: none;
  }

  .card-news__text-wrap {
    padding: 32px;
  }

  .card-news__description {
    padding: 32px;
  }

  .card-news__description-name {
    max-width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .card-news {
    overflow: hidden;
    max-height: 327px;
  }

  .card-news__link-wrapper {
    flex-direction: column-reverse;
  }

    .card-news__content-block {
    max-width: 100%;
  }

  .card-news__text-wrap {
    max-width: 100%;
    padding: 24px;
  }

  .card-news__title {
    max-width: 100%;
  }

    .card-news_small {
    max-width: 100%;
  }

  .card-news_full:nth-child(2n) {
    flex-direction: column-reverse;
  }

}