
.gallery__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__title {
  margin-bottom: 18px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 56px;
  color: $text-dark;
}

.gallery__text-wrap {
  width: 35%;
  text-align: center;
}

.gallery__photos {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery__photo-wrap {
  position: absolute;

  &:first-child {
    top: 184px;
    left: -5%;
  }

  &:nth-child(2) {
    top: 5%;
    left: 15%;
  }

  &:nth-child(3) {
    top: -15%;
    left: 50%;
  }

  &:nth-child(4) {
    top: 5%;
    left: 65%;
  }

  &:nth-child(5) {
    top: 50%;
    left: 85%;
  }

  &:nth-child(6) {
    top: 85%;
    left: 50%;
  }

  &:nth-child(7) {
    top: 65%;
    left: 25%;
  }

  &:nth-child(8) {
    top: 85%;
    left: -5%;
  }
}

@media screen and (max-width: 1200px) {
  .gallery__text-wrap {
    width: 50%;
  }

  .gallery__title {
    font-size: 48px;
    margin-bottom: 21px;
  }

  .gallery__photo-wrap {

    &:first-child {
      left: -20%;
      z-index: 2;
    }

    &:nth-child(2) {
      left: 1%;
      z-index: 1;
    }

    &:nth-child(3) {
      top: -10%;
      z-index: 2;
    }

    &:nth-child(4) {
      z-index: 1;
      left: 70%;
      top: 10%;
    }

    &:nth-child(5) {
      left: 80%;
    }

    &:nth-child(6) {
      top: 87%;
    }

    &:nth-child(7) {
      left: 10%;
    }

    &:nth-child(8) {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .gallery__title {
    font-size: 44px;
    margin-bottom: 24px;
  }

  .gallery__text-wrap {
    width: 60%;
  }

  .gallery__photo-wrap {
    &:first-child {
      left: -5%;
    }

    &:nth-child(2) {
      top: 15%;
      left: 8%;
    }

    &:nth-child(4) {
      top: 15%;
    }

    &:nth-child(6) {
      top: 80%;
    }
  }
}

@media screen and (max-width: 576px) {
  .gallery__title {
    font-size: 32px;
  }

  .gallery__text-wrap {
    width: 100%;
  }

  .gallery__photo-wrap {
    &:first-child {
      top: 13%;
      left: -15%;
    }

    &:nth-child(2) {
      top: 5%;
      left: 8%;
    }

    &:nth-child(3) {
      top: 15%;
      left: 80%;
    }

    &:nth-child(4) {
      top: 60%;
      left: 85%;
    }

    &:nth-child(5) {
      top: 93%;
      left: 60%;
    }

    &:nth-child(6) {
      top: 75%;
      left: 6%;
      z-index: 2;
    }

    &:nth-child(7) {
      top: 80%;
      left: 0;
      z-index: 1;
    }
  }
}
