.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 96px;
  width: 100%;
  background: transparent;
  z-index: 100;
  transition: background-color 0.5s ease;

  &.active {
    background: rgba(000, 000, 000, 0.4);
  }
}

.header__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content-block {
  width: 100%;
  display: flex;
  align-items: center;
}

.language-wrap {
  display: flex;
  align-items: center;
}

.header__logo-wrap {
  margin-right: 141px;
}

.header__logo {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 14px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: $text-light;
}

.menu__list {
  display: flex;
  //padding-left: 135px;
}

.menu__item {
  margin-right: 48px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: #fff;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  color: #fff;
}

.menu__block-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__mobile-btn {
  display: flex;
  align-items: center;

  &.active {
    .menu__mobile-title {
      display: none;
    }

    .menu__mobile-icon__line {
      &:first-child {
        transform: rotate(-45deg) translateY(5px);
      }

      &:last-child {
        transform: rotate(45deg) translateY(-5px);
      }
    }
  }
}

.menu__mobile-title {
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: $text-light;
}

.menu__mobile-icon {
  margin-right: 23px;
}

.menu__mobile-icon__line {
  height: 1px;
  width: 28px;
  background: $text-light;
  margin-bottom: 6px;
  transition: all 0.2s;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__item_mobile {
  display: none;
}

.menu__main-info {
  display: none;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.language {
  position: relative;
  margin-right: 83px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: $text-light;
}

.language__list {
  position: absolute;
  display: none;
  padding-top: 8px;
  left: 0;
  top: 100%;

  &:hover {
    display: block;
  }
}

.language__active {
  font-family: "Montserrat SemiBold", sans-serif;
  color: $text-light;
  font-size: 11px;
  cursor: pointer;

  &:hover {
    & ~ .language__list {
      display: block;
    }
  }
}

.language__btn {
  font-family: "Montserrat SemiBold", sans-serif;
  color: $text-light;
  font-size: 11px;
  cursor: pointer;
}

.page-dark {
  .menu__link, .language__active, .language__btn, .btn_empty, .header__logo, .our-projects__info-text_big, .our-projects__info-text_small, .footer__partner-text {
    color: $text-dark;
  }

  .btn_empty {
    border-color: $text-dark;
  }

  .btn_full {
    background: none;
    border: 1px solid $text-dark;
  }

  .btn_modal {
    background: $text-modal;
    color: $text-light;
  }

  .header.active {
    background: rgba(255, 255, 255, 0.8)
  }

  .section-gallery {
    background: $text-dark;
  }

  .gallery__title, .gallery__text {
    color: $text-light;
  }

  .news__text-info {
    color: $text-light;
  }

  .gallery__text {
    opacity: 0.6;
  }

  .menu__mobile-icon__line {
    background: $text-dark;
  }

  .menu__mobile-title {
    color: $text-dark;
  }
}

@media screen and (max-width: 1200px) {
  .menu__mobile {
    display: flex;
  }

  .menu__list-wrap {
    display: none;
  }

  .header__content, .header__content-block, .header__logo-wrap {
    position: relative;
    z-index: 100;
  }

  .menu__list {
    //padding-top: 96px;
    flex-direction: column;
  }

  .menu__item {
    font-size: 32px;
    opacity: 0.5;
    margin-bottom: 42px;

    &.active {
      opacity: 1;
    }
  }

  .menu__item_mobile {
    display: block;
  }

  .header__logo-wrap {
    margin-right: 92px;
  }

  .main-info__social-list {
    margin-right: 72px;
  }

  .main-info__city {
    margin-right: 40px;
  }

  .language {
    margin-right: 56px;
  }

  .header__btn {
    padding: 0 35px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo-wrap {
    margin-right: 93px;
  }

  .language {
    margin-right: 56px;
  }
}


@media screen and (max-width: 576px) {
  .header {
    height: 75px;
  }

  .header__btn {
    display: none;
  }

  .menu__mobile-title {
    display: none;
  }

  .header__logo-wrap {
    margin-right: 0;
  }
}