.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 96px;
  width: 100%;
  background: transparent;
  z-index: 100;
  transition: background-color 0.5s ease;

  &.active {
    background: rgba(000, 000, 000, 0.4);
  }
}

.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content-block {
  display: flex;
  align-items: center;
}

.header__logo-wrap {
  margin-right: 141px;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 48px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: #fff;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  color: #fff;
}

.language {
  position: relative;
  margin-right: 83px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: $text-light;
}

.language__list {
  position: absolute;
  display: none;
  padding-top: 8px;
  left: 0;
  top: 100%;

  &:hover {
    display: block;
  }
}

.language__active {
  font-family: "Montserrat SemiBold", sans-serif;
  color: $text-light;
  font-size: 11px;
  cursor: pointer;

  &:hover {
    & ~ .language__list {
      display: block;
    }
  }
}

.language__btn {
  font-family: "Montserrat SemiBold", sans-serif;
  color: $text-light;
  font-size: 11px;
  cursor: pointer;
}