.menu-mobile {
  display: none;
}

.menu__main-info {
  position: absolute;
  left: 0;
}

.menu__mobile-btn {
  display: none;
}

.menu__main-info-wrap {
  position: fixed;
  bottom: 0px;
  height: 96px;
  width: 100%;
}

.main-info.menu__main-info {
  height: 100%;
  position: static;
}

.main-info__content {
  height: 100%;
  display: flex;
  align-items: center;
}

.mobile-menu__btn-request {
  display: none;
  margin: 0 auto;
  border-color: $text-light;
}

.menu__item_mobile {
  .menu__link {
    color: #FFFFFF;
  }
}

.mobile-menu__btn-request  {
  border-color: $text-light!important;
  color: $text-light!important;
}

@media screen and (max-width: 1200px) {
  .menu__mobile-btn {
    display: flex;
  }

  .menu-mobile {
    display: none;
    height: 100vh;

    .menu__list {
      margin-top: auto;
      margin-bottom: auto;
    }

    .menu__list-wrap {
      height: calc(100% - 192px);
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: auto;
      margin-bottom: auto;
      overflow-y: auto;
    }

    .menu__item {
      font-size: 32px;
      opacity: 0.5;
      margin-bottom: 42px;

      &.active {
        opacity: 1;
      }

      &:last-child {
        opacity: 1;
      }
    }

    .menu__item_mobile {
      display: block;
    }
  }

  .menu-mobile.active {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background: rgba(8, 8, 8, 0.98);
    z-index: 95;

    .menu__main-info {
      display: flex;
      width: 100%;
    }
  }

  .header__content, .header__content-block, .header__logo-wrap, .menu__mobile, .menu__main-info {
    position: relative;
    z-index: 100;
  }

  .main-info__social-list {
    margin-right: 72px;
  }

  .main-info__city {
    margin-right: 40px;
  }
}

@media screen and (max-width: 576px) {
  .menu__block-wrap {
    justify-content: flex-end;
  }

  .menu {
    order: 2
  }

  .menu__list {
    width: 100%;
    padding-left: 0;
    align-items: center;
  }

  .menu__item_mobile {
    margin-right: 0;
  }

  .language-wrap {
    order: 1
  }

  .language {
    margin-right: 54px;
  }

  .menu-mobile .menu__item {
    font-size: 26px;
  }

  .mobile-menu__btn-request {
    display: block;
    margin-top: 21px;
  }

  .menu-mobile .menu__item {
    margin-bottom: 35px;
  }
}