.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: rgba(8, 8, 8, .96);
  //transform: scale(0);
  z-index: -1;
  animation: all 0.3s;
  opacity: 0;

  &.active {
    transform: scale(1);
    opacity: 1;
    z-index: 200;

    .modal__content-wrap {
      animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }

  &.out {
    .modal__content-wrap {
      animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.modal__wrap {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.modal__content-wrap {
  margin: auto;
  width: 100%;
  overflow: auto;
  max-width: 1046px;
}

.modal__content {
  width: 100%;
  padding: 56px 123px;
  background: #F2F2F2;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
}

.modal__block {
  padding: 44px 70px;
  margin-bottom: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.04);

  &:last-child {
    margin-bottom: 0;
  }
}

.modal__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 22px;
  color: $text-modal;
  text-align: center;
  margin-bottom: 38px;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal__input {
  width: calc(50% - 56px);
  margin-right: 56px;
  margin-bottom: 38px;

  &:nth-child(2n), &:last-child {
    margin-right: 0;
  }

  &:last-child {
    width: 100%;
    margin-bottom: 0;
  }
}

.modal__subtitle {
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: $text-modal;
}

.modal__subtitle-select {
  margin-bottom: 40px;
}

.type-line__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select-type-line {
  position: relative;
  display: flex;
}

.select-type-line__option {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;

  &:last-child {
    flex-grow: unset;

    .select-type-line__item {
      display: none;
    }
  }
}

.select-type-line__item {
  display: flex;
  margin-bottom: 9px;
  flex-grow: 1;
  height: 1px;
  background: rgba(214, 214, 214, 0.3);
}

.select-type-line__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-type-line__option-point {
  position: relative;
  display: block;
  height: 18px;
  width: 18px;
  background: #F7F7F6;
  border-radius: 50%;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 4px;
    width: 4px;
    background: #AFB0B2;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 5px #FFFFFF;
    border-radius: 50%;
  }
}

.select-type-line__option-text {
  position: absolute;
  top: -20px;
  left: 0;
  margin-bottom: 9px;
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 9px;
  line-height: 11px;
  color: rgba(58, 62, 75, 0.45);
  transform: translateX(-25%);
}

.select-type-line__option-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover, &.active {
    .select-type-line__option-text {
      color: $text-modal;
    }

    .select-type-line__option-point {
      background: #1D1F26;
      border: 1px solid #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

      &::after {
        background: #fff;
      }
    }
  }
}

.modal__select {
  margin-bottom: 54px;
}

.modal__text {
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 9px;
  line-height: 11px;
  color: rgba(58, 62, 75, 0.45);
}

.modal__send-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.modal__footer-text {
  padding: 0 50px;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: #AFB0B2;
  text-align: center;
}

.modal__btn-close {
  position: absolute;
  padding: 20px;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 1200px) {
  .modal__wrap {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .modal__content {
    padding: 32px 51px;
  }

  .modal__content-wrap {
    max-width: 808px;
  }

  .modal__block {
    padding: 44px 52px;
  }

  .modal__title {
    font-size: 24px;
  }

  .modal__file {
    display: none;
  }

  .modal__select {
    margin-bottom: 36px;
  }

  .modal__footer {
    display: none;
  }

  .modal__send-wrap {
    margin-bottom: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .modal__content {
    padding: 32px 40px;
  }

  .modal__content-wrap {
    max-width: 558px;
  }

  .modal__block {
    padding: 44px 56px;
  }

  .modal__form {
    flex-direction: column;
  }

  .modal__input {
    width: 100%;
    margin-right: 0;
  }

  .modal__select {
    margin-bottom: 0;
  }

  .select-type-line__option {
    width: 25%;
    margin-bottom: 50px;

    &:nth-child(4) {
      width: auto;
      flex-grow: unset;

      .select-type-line__item {
        display: none;
      }
    }

    &:last-child {
      width: auto;
      flex-grow: unset;
    }
  }

  .type-line__list {
    flex-wrap: wrap;
  }

  .select-type-line__option-text {
    white-space: nowrap;
  }
}

@media screen and (max-width: 576px) {
  .modal__wrap {
    padding-top: 64px;
  }

  .modal__content {
    padding: 0;
    background: rgba(8, 8, 8, .96);
  }

  .modal__block {
    padding: 24px;
  }


  .select-type-line__option {
    margin-bottom: 40px;
  }
}