.modal__content.modal__content_thanks {
  display: flex;
  justify-content: center;
  background: transparent;
}

.modal__block.modal__block_thanks {
  padding-top: 108px;
  padding-bottom: 108px;
}

.modal-thanks__text-wrap {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-thanks__text {
  margin-bottom: 40px;
}

.modal__title.modal-thanks__title {
  margin-bottom: 24px;
}

@media screen and (max-width: 1200px) {
  .modal-thanks__text-wrap {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .modal__block.modal__block_thanks {
    padding: 56px 36px;
  }

  .modal-thanks__text-wrap {
    max-width: 100%;
  }

  .modal-thanks__text {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 576px) {
  .modal__block.modal__block_thanks {
    padding: 40px 24px;
    background: #F2F2F2;
  }
}