.project-card {
  position: relative;
  width: 50%;
  padding: 0 4px;
  margin-bottom: 8px;

  &:nth-child(3n) {
    width: 100%;
  }
}

.project-card__link {
  position: relative;

  &:hover {
    .project-card__description {
      opacity: 1;
    }
  }
}

.project-card__description {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
  opacity: 0;
  transition: all 0.5s;
}

.project-card__img {
  display: block;
  width: 100%;
}

.project-card__description {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card__description-list {
  display: flex;
}

.project-card__description-list-item {
  margin-right: 24px;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 10px;
  color: $text-light;

  &:last-child {
    margin-right: 0;
  }
}

.project-card__description-mode {
  display: none;
}

.project-card__description-name {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 22px;
  color: $text-light;
}