.section-about-main {
  min-height: 500px;
  height: calc(100vh - 96px);
}

.about-main-wrap {
  height: 100%;
  margin-top: 96px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url("./images/about/1.jpg") no-repeat center;
  background-size: cover;
}

.about-main__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-main__text-wrap {
  width: 30%;
  text-align: center;
}

.about-main__text {
  color: $text-light;
}

.about-philosophy {
  padding-left: 18%;
}

.text-container.text-container_about-philosophy {
  margin-right: 0;
  margin-left: 0;
}

.container_about-philosophy {
  margin-left: auto;
  margin-right: unset;
  //max-width: 1450px;
}

.about-philosophy__description {
  display: flex;
}

.about-philosophy__description-wrap {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 5;
  background: #fff;
}

.about-philosophy__description-title {
  color: $text-dark;
  margin-bottom: 24px;
}

.about-philosophy__description-text-wrap {
  width: 60%;
  margin-bottom: 49px;
}

.about-philosophy__description-swiper {
  display: flex;
}

.about-experience {
  padding-top: 0;
  background: url("./images/about/5.jpg") no-repeat bottom 20% right;
}

.about-experience__content {
  padding-left: 66px;
  display: flex;
}

.about-experience__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50%);
  padding-left: 135px;
}

.about-experience__info-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.about-experience__info-list-item {
  margin-right: 79px;

  &:last-child {
    margin-right: 0;
  }
}

.info-item-number__title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 56px;
  line-height: 68px;
  color: $text-dark;
}

.info-item-number__text {
  width: 65%;
}

.about-experience__img-wrap {
  width: 50%;
}

.about-experience__img {
  max-width: 100%;
}

.about-experience__info-number {
  margin-bottom: 44px;
}

.about-ceo {
  padding-top: 0;
}

.about-ceo__content {
  display: flex;
}

.about-ceo__img-wrap {
  width: 50%;
  padding-right: 84px;
}

.about-ceo__img {
  max-width: 100%;
}

.about-ceo__text-wrap {
  width: 50%;
  padding-top: 64px;
}

.about-ceo__text-block {
  margin-bottom: 164px;
}

.about-ceo__img-description {
  position: relative;
  left: -50px;
}

.text-container.text-container_about-ceo {
  margin-right: 0;
}

.about-ceo__title {
  color: $text-dark;
  margin-bottom: 32px;
}

.about-ceo__subtitle {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 16px;
  width: 40%;
  margin-bottom: 56px;
}

.about-ceo__text {
  position: relative;
  line-height: 34px;
  width: 60%;
}

.about-ceo__text-quotes {
  position: absolute;
  left: -40px;
  top: 12px;
  transform: rotate(180deg);
  font-family: "Montserrat Bold", sans-serif;
  font-size: 36px;
  color: $text-dark;
  letter-spacing: 0.01em;
}

.about-ceo__img-ceo-wrap {
  margin-bottom: 100px;
}

.about-ceo__info-list {
  display: flex;
  margin-bottom: 37px;
}

.contact-us__title {
  width: 40%;
  color: $text-dark;
  margin-bottom: 131px;
}

.contact-us__block-wrap {
  display: flex;
}

.contact-us__block {
  width: 50%;

  &:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.contact-us__form {
  width: 75%;
}

.contact-us__text {
  width: 80%;
  margin-bottom: 20px;
}

.contact-us__info {
  display: flex;
  justify-content: space-between;
}

.contact-us__info-text {
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: $text-dark;
}

.contact-us__info-socials {
  display: flex;
}

.contact-us__info-socials-item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .about-experience {
    background: none;
  }

  .about-experience__info {
    padding-left: 40px;
  }

  .about-ceo__img-wrap {
    padding-right: 0;
  }

  .about-experience__info-list-item {
    margin-right: 24px;
  }

  .info-item-number__title {
    font-size: 40px;
  }

  .contact-us__block-wrap {
    //flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .about-main__text-wrap {
    width: 50%;
  }

  .about-philosophy__description-wrap {
    width: 90%;
    margin-bottom: 40px;
  }

  .about-philosophy__description-text-wrap {
    width: 90%;
  }

  .info-item-number__title {
    font-size: 30px;
  }

  .about-experience__info-list-item {
    margin-right: 0;
  }

  .about-ceo__subtitle {
    width: 100%;
    margin-bottom: 24px;
  }

  .about-ceo__text {
    width: 100%;
  }

  .about-ceo__text-block {
    margin-bottom: 56px;
  }

  .about-ceo__img-ceo-wrap {
    margin-bottom: 64px;
  }

  .about-ceo__info-list {
    margin-bottom: 24px;
  }

  .contact-us__title {
    width: 75%;
    margin-bottom: 80px;
  }

  .contact-us__block-wrap {
    flex-direction: column;
  }

  .contact-us__block {
    width: 100%;

    &:first-child {
      margin-bottom: 24px;
    }
  }

  .contact-us__form {
    width: 100%;
  }

  .contact-us__text {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .about-main__text-wrap {
    width: 100%;
  }

  .about-philosophy__description-wrap {
    width: 100%;
    margin-bottom: 40px;
  }

  .about-philosophy__description-text-wrap {
    width: 90%;
  }

  .about-experience__content {
    padding-left: 0;
    flex-direction: column;
  }

  .about-experience__img-wrap {
    width: 100%;
    order: 2;
  }

  .about-experience__info {
    padding-left: 0;
    width: 100%;
    order: 1;
    margin-bottom: 40px;
  }

  .about-experience__info-list {
    flex-wrap: inherit;
    justify-content: space-around;
  }

  .about-experience__info-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-item-number__title {
    text-align: center;
  }

  .info-item-number__text {
    width: 100%;
  }

  .about-ceo__text-wrap {
    width: 100%;
    padding-top: 0;
  }

  .about-ceo__content {
    flex-direction: column;
  }

  .about-ceo__text-quotes {
    left: -12px;
    font-size: 20px;
    top: 0px;
  }

  .about-ceo__img-description {
    display: none;
  }

  .about-ceo__img-wrap {
    width: 100%;
  }

  .about-ceo__text-block {
    margin-bottom: 24px;
  }

  .about-ceo__img-ceo-wrap {
    margin-bottom: 24px;
  }

  .about-experience__info-number {
    margin-bottom: 0;
  }

  .contact-us__title {
    width: 100%;
    margin-bottom: 24px;
  }

  .about-philosophy {
    padding-left: 10%;
    padding-right: 10%;
  }
}