.full-page__body {
  background: radial-gradient(50% 50% at 50% 50%, rgba(15, 15, 15, 0.95) 0%, rgba(8, 8, 8, 0.95) 100%), url('./images/contacts/contacts-bg.png')  no-repeat center ;
  background-size: cover;
}

.full-page {
  min-height: 100vh;

  .contacts__content {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0;
  }

  .contacts__label {
    display: none;
  }
}

.full-page__wrap {
  padding-top: 96px;
  //height: calc(100% - 60px);
}

.full-page__content {
  margin-top: auto;
  margin-bottom: auto;
  min-height: calc(100vh - 96px - 50px);
  align-items: center;
  display: flex;
  //height: 100%;
}

.full-page__content-wrap {
  //height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.full-page__footer {
  //height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}