.contacts-page__body {
  background: radial-gradient(50% 50% at 50% 50%, rgba(15, 15, 15, 0.95) 0%, rgba(8, 8, 8, 0.95) 100%), url('./images/contacts/contacts-bg.png') no-repeat center;
  background-size: cover;
}

.contacts-page {
  min-height: 500px;

  .contacts__content {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0;
  }

  .contacts__label {
    display: none;
  }
}

.contacts-page__wrap {
  padding-top: 96px;
  height: calc(100vh - 60px);
}

.contacts-page__content {
  height: calc(100% - 60px);
}

.contacts-page__content-wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

.contacts-page__footer {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}