.error-page__content {
  position: relative;
  padding-left: 190px;
}

.error-page__label {
  &::after {
    top: calc(-100% - 50px);
  }
}

.error-page__title {
  margin-bottom: 24px;
}

.error-page__text {
  margin-bottom: 48px;
  color: $text-light;
  opacity: 0.7;
}