.section-main {
  min-height: 700px;
  height: 100vh;
}

.main-info {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
}

.main-info__content {
  display: flex;
  align-items: center;
}

.main-info__social-list {
  display: flex;
  margin-right: 121px;
}

.main-info__social-item {
  margin-right: 16px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;

  &:last-child {
    margin-right: 0;
  }
}

.main-info__social-link {
  color: $text-light;
}

.main-info__city {
  position: relative;
  margin-right: 72px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background: url("./images/select/point.svg") no-repeat center;
    height: 10px;
    width: 7.5px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 9.5px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background: url("./images/select/arrow.svg") no-repeat center;
    height: 5px;
    width: 10px;
  }
}

.select-city {
  padding: 7px 23px 7px 28px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1.15336px 1.22544px rgba(0, 0, 0, 0.2), inset 0px -0.288339px 0.0720847px rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(1px);
  border-radius: 8.70783px;
  border: none;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: $text-light;
  letter-spacing: 0.06em;
  appearance: none;
  cursor: pointer;
}

.select-city__option {
  background: rgba(000, 000, 000, 0.2);
}

.main-info__contacts {
  display: flex;
}

.main-info__contacts-item {
  margin-right: 32px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;

  &:last-child {
    margin-right: 0;
  }
}

.main-info__contacts-link {
  color: $text-light;
}

.section-main-about {
  padding-top: 220px;
  background: url("./images/company-philosophy/about-bg.jpg") no-repeat top 140px right;
}

.main-about__info {
  width: 50%;
  display: flex;
  align-items: flex-start;
}

.main-about__info-block {
  display: flex;
  align-items: center;
  margin-bottom: 262px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2) {
    .main-about__info {
      width: 50%;
      padding-left: 69px;
      flex-direction: row-reverse;
    }

    .main-about__info-subtitle {
      margin-right: 0;
    }
  }
}

.main-about__info-subtitle {
  position: relative;
  margin-right: 124px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 8px;
  color: $text-gray;
  //line-height: 13px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  opacity: 0.32;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: calc(100% + 13px);
    transform: translateX(-50%);
    height: 57px;
    width: 1px;
    background: $text-gray;
  }
}

.main-about__info-title {
  color: $text-dark;
  margin-bottom: 28px;
}

.main-about__info-text {
  letter-spacing: 0.01em;
}

.main-about__info-text-wrap {
  margin-bottom: 24px;
  opacity: 0.7;

  &:last-child {
    margin-bottom: 0px;
  }
}

.main-about__info-texts-wrap {
  margin-bottom: 40px;
}

.main-about__images-wrap {
  position: relative;
  width: 50%;
  padding-left: 129px;
}

.main-about__img {
  &:first-child {
    position: absolute;
    top: 50px;
    right: 0;
    transform: translateY(-100%);
  }

  &:nth-child(2) {
    width: 62%;

    img {
      width: 62%;
    }
  }
}

.main-about__info-blockquote {
  letter-spacing: 0.02em;
  margin-right: 140px;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 20px;
  line-height: 34.13px;
  color: $text-dark;
  opacity: 0.7;
}

.main-about__info-blockquote-wrap {
  display: flex;
}

.main-about__info-blockquote-quotes {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 36px;
  transform: rotate(180deg);
  margin-right: 32px;
  line-height: 44px;
}

.section-our-projects {
  padding-bottom: 0;
  background: radial-gradient(50% 50% at 50% 50%, #0F0F0F 0%, #080808 100%);
}

.our-projects__description {
  padding-bottom: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.our-projects__description-text {
  width: 45%;
}

.our-projects__title {
  margin-bottom: 34px;
}

.our-projects__text {
  color: $text-gray;
}

.our-projects__label {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.13);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    top: calc(-100%);
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 1px;
    height: 57px;
    background: rgba(255, 255, 255, 0.04);
  }
}

.our-projects__decor {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -75%);
  font-family: "Montserrat Bold", sans-serif;
  font-size: 56px;
  opacity: 0.06;
  background: -webkit-linear-gradient(45deg, #FFFFFF, #0F0F0F 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.our-projects__catalog {
  display: flex;
  flex-wrap: wrap;
}

.our-projects__more {
  padding: 0 4px;
  margin-bottom: 8px;
  width: 50%;
}

.our-projects__more-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;

  &:hover {
    .our-projects__more-img-wrap {
      transform: scale3d(1.3, 1.3, 1.3);
    }

    .our-projects__more-title {
      transform: translateY(-50px);
    }
  }
}

.our-projects__more-img-wrap {
  transition: all 0.2s;

  img {
    width: 100%;
  }
}

.our-projects__more-title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 22px;
  color: $text-dark;
  margin-bottom: 24px;
  letter-spacing: 0.01em;
  transition: all 0.2s;
}

.our-projects__info {
  position: relative;
  padding-top: 180px;
  padding-bottom: 180px;
  overflow: hidden;
}

.our-projects__info-content {
  position: relative;
}

.our-projects__info-block {
  width: 50%;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 189px;
    padding-right: 124px;
  }
}

.our-projects__info-text_big {
  padding-left: 135px;
}

.our-projects__info-text_small {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $text-light;
  margin-bottom: 41px;
}

.our-projects__bg-images {
  position: absolute;
  top: 0;
  left: 0;
}

.section-gallery {
  position: relative;
  padding: 345px 0;
}

.section-contacts {
  padding-top: 119px;
  padding-bottom: 0px;
  position: relative;
  background: url('./images/contacts/contacts-bg.png') no-repeat;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #0F0F0F 0%, #080808 100%);
    opacity: 0.95;
    z-index: 0;
  }
}

@media screen and (max-width: 1200px) {
  .select-city {
    background: transparent;
    border: 1px solid #C4C4C4;
    border-radius: 88px;
    backdrop-filter: none;
  }

  .main-info.fixed {
    position: fixed;
    right: 0;
    bottom: 0;
  }

  .section-main-about {
    padding-top: 180px;
    background-size: 35%;
  }

  .main-about__info-subtitle {
    margin-right: 92px;
  }

  .main-about__info {
    width: 60%;
  }

  .main-about__info-title {
    margin-bottom: 24px;
  }

  .main-about__info-texts-wrap {
    margin-bottom: 40px;
  }

  .main-about__info-block {
    margin-bottom: 190px;
  }

  .main-about__images-wrap {
    padding-left: 103px;
  }

  .main-about__img {
    &:first-child {
      width: 50%;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .main-about__info-blockquote {
    font-size: 16px;
    margin-right: 85px;
  }

  .main-about__info-blockquote-quotes {
    font-size: 25px;
    margin-right: 22px;
  }

  .main-about__info-block:nth-child(2) .main-about__info {
    padding-left: 22px;

    .main-about__info-subtitle {
      display: none;
    }
  }

  .our-projects__description {
    padding-bottom: 124px;
  }

  .our-projects__description-text {
    width: 60%;
  }

  .our-projects__decor {
    display: none;
  }

  .our-projects__more-title {
    font-size: 20px;
  }

  .our-projects__more-img-wrap {
    max-width: 40%;
  }

  .our-projects__info {
    padding-top: 142px;
    padding-bottom: 116px;
  }

  .our-projects__info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .our-projects__info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
    text-align: center;

    &:last-child {
      width: 60%;
      margin-left: unset;
      padding: unset;
    }
  }

  .our-projects__info-text_big {
    padding-left: 0;
  }

  .our-projects__info-text_small {
    margin-bottom: 64px;
  }

  .main-info__social-list {
    margin-right: 79px;
  }

  .main-info__city {
    margin-right: 40px;
  }

  .section-contacts {
    padding-top: 104px;
  }
}

@media screen and (max-width: 992px) {
  .main-info__social-list {
    margin-right: 64px;
  }

  .main-info__city {
    margin-right: 32px;
  }

  .section-main-about {
    background: none;
    padding-top: 104px;
  }

  .main-about__info {
    width: 100%;
  }

  .main-about__info-subtitle {
    margin-right: 65px;
  }

  .main-about__info-block {
    padding-right: 65px;
    margin-bottom: 230px;

    &:last-child {
      flex-direction: column;
    }
  }

  .main-about__images-wrap {
    width: 100%;
    padding-left: 76px;
    margin-bottom: 22px;
  }

  .main-about__img {
    &:first-child {
      left: 30%;
      top: 120px;
      width: auto;

      img {
        display: block;
        width: 100%;
      }
    }

    &:nth-child(2) {
      img {
        width: auto;
      }
    }
  }

  .main-about__info-blockquote {
    margin-right: 0;
  }

  .main-about__info-block:nth-child(2) .main-about__info {
    margin-left: auto;
    width: 55%;
  }

  .our-projects__title {
    margin-bottom: 24px;
  }

  .our-projects__description {
    padding-bottom: 104px;
  }

  .our-projects__more {
    width: 100%;
    height: 672px;
  }

  .our-projects__info {
    padding-top: 64px;
    padding-bottom: 124px;
  }

  .our-projects__info-block {
    width: 55%;
  }

  .our-projects__info-text_small {
    margin-bottom: 48px;
  }

  .section-contacts {
    padding-top: 88px;
  }

  .contacts__title-wrap {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {

  .main-info__contacts-item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .section-main {
    min-height: 400px;
  }

  .main-info__social-list {
    display: none;
  }

  .section-main-about {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .main-about__info-subtitle {
    display: none;
  }

  .main-about__info-block {
    padding-right: 0;
    margin-bottom: 198px;
  }

  .main-about__images-wrap {
    padding-left: 0;
    margin-bottom: 80px;
  }

  .main-about__img:first-child {
    top: 40px;
    left: 20%;
  }

  .main-about__info-block:nth-child(2) {
    .main-about__info {
      width: 100%;
      padding-left: 0;
    }
  }

  .main-about__info-blockquote-quotes {
    margin-right: 5px;
  }

  .our-projects__label {
    display: none;
  }

  .our-projects__description {
    text-align: left;
    padding-bottom: 80px;
  }

  .our-projects__description-text {
    width: 100%;
  }

  .our-projects__more {
    height: 327px;
  }

  .our-projects__info {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .our-projects__info-block {
    width: 100%;
    text-align: left;
    align-items: flex-start;

    &:last-child {
      width: 100%;
    }
  }

  .section-gallery {
    padding: 290px 0;
  }

  .section-contacts {
    padding-top: 56px;
    padding-bottom: 20px;
  }

  .main-info__contacts {
    flex-direction: column;
    align-items: flex-end;
  }

  .main-info__contacts-item {
    margin-right: 0;
  }

  .main-info__content {
  }
}