.one-news__top-block {
  max-width: 50%;

  &:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.one-news__top-block_projects {
  &:last-child {
    align-items: flex-start;
  }
}

.one-news__content {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;

  }
}

.one-news__title {
  color: $text-dark
}

.one-news__socials-list {
  display: flex;
  align-items: center;
}

.one-news__socials-item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.one-news__socials-title {
  margin-bottom: 10px;
  font-family: 'Montserrat SemiBold', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $text-dark;
}

.one-news__text-wrap {
  max-width: 75%;
  margin-bottom: 96px;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 96px;
  }
}


.one-news__text {
  opacity: 0.7;
  line-height: 24px;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.one-news__img-wrap {
  margin-bottom: 96px;
}

.one-news__img-wrap_some {
  display: flex;

  .one-news__img {
    display: flex;
    flex-shrink: 1;

    &:first-child {
      margin-right: 8px;
    }
  }
}

.one-news__img {
  display: block;
  margin-bottom: 8px;
  max-width: 100%;

  &.one-news__img_small {
    max-width: 50%;
  }
}

.one-news__text-subtitle {
  max-width: 55%;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 16px;
  color: $text-dark;
  margin-bottom: 17px;
  line-height: 22px;
}

.one-news__text-list {
  margin-bottom: 40px;
}

.one-news__text-list-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  opacity: 0.7;

  &:last-child {
    margin-bottom: 0;
  }
}

.one-news__text-list-number {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Montserrat Medium', sans-serif;
}

.one-news__text-list_marked {
  padding-left: 16px;
}

.one-news__text-list-item_marked {
  list-style: circle;
  padding-left: 0;
}

.text-container {
  margin: 0 135px;
}

.text-container_bordered {
  border-bottom: 1px solid rgba(130, 130, 130, 0.16);
}

.latest-news__title {
  color: $text-dark;
  margin-bottom: 72px;
}

.section-latest-news {
  overflow-x: hidden;
  padding-top: 0;
  position: relative;
}

.latest-news__content {
  position: relative;
}

.card-latest-news {
  display: inline-flex;
  flex-direction: column;
}

.card-latest-news__img-wrap {
  display: inline-block;
  margin-bottom: 24px;
}

.card-latest-news__title {
  display: inline-block;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #3A3E4B;
  margin-bottom: 16px;
}

.card-latest-news__date {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 10px;
  line-height: 17px;
  color: $text-gray;
}

.imgs__wrap-some {
  .one-news__img {
    display: flex;
    flex-shrink: 1;

    &:first-child {
      margin-right: 8px;
    }
  }
}

.one-news__top {
  margin-bottom: 32px;
}

.one-news__socials_mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .text-container {
    margin: 0 75px;
  }

  .one-news__top-block.one-news__top-block_socials {
    display: none;
  }

  .one-news__socials_mobile {
    display: block;
  }

  .one-news__top-block {
    max-width: 60%;
  }

  .one-news__img-wrap {
    margin-bottom: 88px;
  }

  .one-news__text-subtitle {
    margin-bottom: 24px;
  }

  .one-news__text-wrap {
    max-width: 100%;

    &:last-child {
      padding-bottom: 88px;
    }
  }

  .one-news__text {
    margin-bottom: 32px;
  }

  .one-news__text-list {
    margin-bottom: 32px;
  }

  .latest-news__title {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 992px) {
  .one-news__top-block {
    max-width: 80%;
  }

  .one-news__top {
    margin-bottom: 24px;
  }

  .one-news__text-wrap {
    &:last-child {
      padding-bottom: 72px;
    }
  }

  .one-news__img-wrap {
    margin-bottom: 72px;
  }

  .one-news__text-subtitle {
    max-width: 75%;
  }

  .latest-news__title {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 576px) {
  .text-container {
    margin: 0px;
  }

  .one-news__text-wrap {
    &:last-child {
      padding-bottom: 64px;
    }
  }

  .one-news__img-wrap {
    margin-bottom: 64px;
  }

  .one-news__text-subtitle {
    max-width: 100%;
  }

  .one-news__img-wrap_some {
    flex-direction: column;

    .one-news__img:first-child {
      margin-right: 0;
    }
  }

  .one-news__img.one-news__img_small {
    max-width: 100%;
  }

  .latest-news__title {
    margin-bottom: 40px;
  }

  .one-news__top-block {
    max-width: 100%;
  }
}