* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  outline: none;
  border: none;
}

select {
  outline: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

body {
  font-family: 'Montserrat Light', sans-serif;
  letter-spacing: 0.06em;
}

.container {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1314px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1314px;
  }
}

.news-swiper__container {
  height: 100%;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}

@media (min-width: 576px) {
  .news-swiper__container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .news-swiper__container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .news-swiper__container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .news-swiper__container {
    max-width: calc(1314px + 160px);
  }
}

@media (min-width: 1600px) {
  .news-swiper__container {
    max-width: calc(1314px + 160px);
  }
}

.btn {
  height: 48px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn_empty {
  color: $text-light;
  border: 1px solid rgba(253, 253, 253, 0.32);
}

.btn_full {
  background: #fff;
  color: $text-dark;
}

.btn_dark {
  color: $text-dark;
  border: 1px solid rgba(8, 8, 8, 0.32);
}

.btn_modal {
  background: $text-modal;
  color: $text-light;
}

.section {
  padding: 140px 0;
}

.title {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 36px;
  color: $text-light;
}

.text {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 14px;
  color: $text-dark;
  line-height: 24px;
}

.tabs__list {
  display: flex;
}

.tabs__item {
  margin-right: 32px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: $text-gray;
  letter-spacing: 0.06em;
  border-bottom: 1px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    .tabs__item-btn {
      color: $text-dark;
    }

    border-color: $text-gray;
  }
}

.tabs__item-btn {
  color: $text-gray;

  &:hover {
    color: $text-dark;
  }
}

.tabs-content {
  &.hide {
    display: none;
  }

  &.show {
    display: flex;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__btn-prev {
  margin-right: 32px;
}

.pagination__btn-next {
  margin-left: 32px;
}

.pagination__btn-prev-icon {
  transform: rotate(180deg) translateY(-25%);
}

.pagination__item {
  margin-right: 20px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: $text-dark;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__dots {
  opacity: 0.5;
}


.input {
  display: block;
  width: 100%;
  padding-right: 24px;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: $text-light;
}

.input__btn-send {
  svg {
    color: #fff;
  }
}

input::placeholder {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: $text-light;
  opacity: 0.7;
}

.input__wrap {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.input__wrap_dark {
  border-color: rgba(81, 81, 81, 0.3);

  .input {
    color: $text-dark;
  }

  input::placeholder {
    color: $text-dark;
  }

  .input__btn-send {
    svg {
      color: rgba(81, 81, 81, 1);
    }
  }
}

.input__wrap_modal {
  border-color: rgba(214, 214, 214, 0.3);

  .input {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 11px;
    color: $text-modal;
    line-height: 13px;
  }

  input::placeholder {
    color: $text-modal;
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 11px;
    opacity: 1;
  }
}

.section__label {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  color: $text-gray;
  opacity: 0.32;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  white-space: nowrap;

  &::after {
    content: "";
    position: absolute;
    top: calc(-100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 1px;
    height: 57px;
    background: $text-gray;
  }
}

.imgs__wrap-some {
  display: flex;
}

.imgs__wrap-some_block {
  margin-bottom: 96px;
}

.link {
  position: relative;
  display: inline-block;
  padding-left: 16px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 10px;
  color: $text-light;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 1px;
    width: 8px;
    background: rgba(255, 255, 255, 0.2);
  }

  &::after {
    content: "";
    position: absolute;
    left: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 1px;
    width: 56px;
    background: rgba(255, 255, 255, 0.2);
  }
}

.link_dark {
  &::after, &::before {
    background: rgba(49, 49, 49, 0.2);
  }
}

.select_modal {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid  rgba(214, 214, 214, 0.3);
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 11px;
  color: $text-modal;
  line-height: 13px;
}

.select-modal__option {
  line-height: 13px;
}

.input-file__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.input-file__btn {
  display: flex;
  align-items: center;
}

.input-file__btn-icon-wrap {
  position: relative;
  display: block;
  margin-right: 12px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: #F7F7F6;
  border: 1px solid rgba(58, 62, 75, 0.08);
}

.input-file__btn-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-file__btn-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.input-file__btn-text-title {
  margin-bottom: 3px;
}

.input-file__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}