<div class="contacts__content">
    <div class="contacts__label">Contacts</div>

    <div class="contacts__content-block">
        <div class="contacts__title-wrap">
            <h2 class="contacts__title title">Drop us a line</h2>
            <div class="contacts__subtitle text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam ullamcorper
                eu mauris vitae posuere.
            </div>
        </div>

        <div class="contacts__info-wrap">
            <div class="contacts__info-item">
                <div class="contacts__info-city">Kyiv</div>

                <div class="contacts__info-text"><a href="tel:(209) 555-0104">(209) 555-0104</a></div>
                <div class="contacts__info-text">6391 Elgin St. Celina,</div>
                <div class="contacts__info-text">Delaware 10299</div>
            </div>

            <div class="contacts__info-item">
                <div class="contacts__info-city">Lviv</div>

                <div class="contacts__info-text"><a href="tel:(209) 555-0104">(209) 555-0104</a></div>
                <div class="contacts__info-text">6391 Elgin St. Celina,</div>
                <div class="contacts__info-text">Delaware 10299</div>
            </div>

            <div class="contacts__info-item">
                <div class="contacts__info-city">Kharkiv</div>

                <div class="contacts__info-text"><a href="tel:(209) 555-0104">(209) 555-0104</a></div>
                <div class="contacts__info-text">6391 Elgin St. Celina,</div>
                <div class="contacts__info-text">Delaware 10299</div>
            </div>
        </div>

        <button class="btn btn_full">Make request</button>
    </div>

    <div class="contacts__content-block">
        <div>
            <div class="contacts__email">
                <a href="mailto: info@gmail.com">info@gmail.com</a>
            </div>

            <ul class="contacts__social-list">
                <li class="contacts__social-item">
                    <a href="#">Fb</a>
                </li>
                <li class="contacts__social-item">
                    <a href="#">In</a>
                </li>
                <li class="contacts__social-item">
                    <a href="#">Be</a>
                </li>
            </ul>
        </div>
    </div>
</div>