<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__content-block">
                <div class="footer__text">© Copyright 2018. All rights reserved</div>
            </div>

            <div class="footer__content-block">
                <div class="footer__text">Made with love in</div>

                <div class="footer__partner-logo">
                    <a href="#" class="footer__partner-link">
                      <span class="footer__partner-text">The First</span>
                      <span class="footer__partner-text">The Last.</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>