<section class="section section-gallery">
    <div class="gallery__photos">
        <div class="gallery__photo-wrap">
            <picture class="gallery__photo">
                <source media="(max-width:992px)" srcset="./images/gallery/tablet2/1.jpg">
                <source media="(max-width:1200px)" srcset="./images/gallery/tablet/1.jpg">
                <img src="./images/gallery/1.jpg" alt="design" style="width:auto;">
            </picture>
        </div>
        <div class="gallery__photo-wrap">
             <picture class="gallery__photo">
                 <source media="(max-width:992px)" srcset="./images/gallery/tablet2/2.jpg">
                 <source media="(max-width:1200px)" srcset="./images/gallery/tablet/2.jpg">
                 <img src="./images/gallery/2.jpg" alt="design" style="width:auto;">
            </picture>
        </div>
        <div class="gallery__photo-wrap">
             <picture class="gallery__photo">
                 <source media="(max-width:992px)" srcset="./images/gallery/tablet2/3.jpg">
                 <source media="(max-width:1200px)" srcset="./images/gallery/tablet/3.jpg">
                 <img src="./images/gallery/3.jpg" alt="design" style="width:auto;">
            </picture>
        </div>
        <div class="gallery__photo-wrap">
             <picture class="gallery__photo">
                 <source media="(max-width:992px)" srcset="./images/gallery/tablet2/4.jpg">
                 <source media="(max-width:1200px)" srcset="./images/gallery/tablet/4.jpg">
                 <img src="./images/gallery/4.jpg" alt="design" style="width:auto;">
            </picture>
        </div>
        <div class="gallery__photo-wrap">
             <picture class="gallery__photo">
                 <source media="(max-width:992px)" srcset="./images/gallery/tablet2/5.jpg">
                 <source media="(max-width:1200px)" srcset="./images/gallery/tablet/5.jpg">
                 <img src="./images/gallery/5.jpg" alt="design" style="width:auto;">
            </picture>
        </div>
        <div class="gallery__photo-wrap">
             <picture class="gallery__photo">
                 <source media="(max-width:992px)" srcset="./images/gallery/tablet2/6.jpg">
                 <source media="(max-width:1200px)" srcset="./images/gallery/tablet/6.jpg">
                 <img src="./images/gallery/6.jpg" alt="design" style="width:auto;">
            </picture>
        </div>
        <div class="gallery__photo-wrap">
             <picture class="gallery__photo">
                 <source media="(max-width:992px)" srcset="./images/gallery/tablet2/7.jpg">
                 <source media="(max-width:1200px)" srcset="./images/gallery/tablet/7.jpg">
                 <img src="./images/gallery/7.jpg" alt="design" style="width:auto;">
            </picture>
        </div>
        <div class="gallery__photo-wrap">
             <picture class="gallery__photo">
                <img src="./images/gallery/8.jpg" alt="design" style="width:auto;">
            </picture>
        </div>
    </div>

    <div class="container">
        <div class="gallery__content">
            <div class="gallery__text-wrap">
                <div class="gallery__title">@lorem.ipsum</div>

                <div class="gallery__text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                    ullamcorper
                    eu mauris vitae posuere.
                </div>
            </div>
        </div>
    </div>
</section>