<header class="header" id="header">
    <div class="container">
        <div class="header__content">
            <div class="header__content-block">
                <div class="header__logo-wrap">
                    <a href="index.html" class="header__logo">
                        LOGO
                    </a>
                </div>

                <div class="menu__block-wrap">
                    <div class="menu">
                        <button class="menu__mobile-btn menu__mobile-btn__logo" id="menu-btn">
                            <div class="menu__mobile-icon">
                                <div class="menu__mobile-icon__line"></div>
                                <div class="menu__mobile-icon__line"></div>
                            </div>
                            <div class="menu__mobile-title">Menu</div>
                        </button>

                        <div class="menu__list-wrap">
                            <ul class="menu__list">
                                <li class="menu__item">
                                    <a href="projects.html" class="menu__link">Projects</a>
                                </li>
                                <li class="menu__item">
                                    <a href="about.html" class="menu__link">About us</a>
                                </li>
                                <li class="menu__item">
                                    <a href="news.html" class="menu__link">Blog</a>
                                </li>
                                <li class="menu__item">
                                    <a href="contact.html" class="menu__link">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="language-wrap">
                        <div class="language">
                            <button class="language__active">En</button>

                            <ul class="language__list">
                                <li class="language__item">
                                    <button class="language__btn">
                                        UA
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <button class="header__btn btn btn_empty make-request-btn">Send Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>