<header class="header" id="header">
    <div class="container">
        <div class="header__content">
            <div class="header__content-block">
                <div class="header__logo-wrap">
                    <a href="#" class="header__logo">
                       LOGO
                    </a>
                </div>

                <div class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Projects</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Blog</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header__content-block">
                <div class="language">
                    <button class="language__active">En</button>

                    <ul class="language__list">
                        <li class="language__item">
                            <button class="language__btn">
                                UA
                            </button>
                        </li>
                    </ul>
                </div>

                <button class="header__btn btn btn_empty">Send Request</button>
            </div>
        </div>
    </div>
</header>