<div class="our-projects__info">
    <div class="our-projects__bg-images">
        <div class="content">
            <img class="content__img" src="./images/our-projects/bg/1.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/2.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/3.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/4.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/1.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/2.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/3.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/4.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/1.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/2.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/3.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/4.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/1.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/2.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/3.jpg" alt="Some image"/>
            <img class="content__img" src="./images/our-projects/bg/4.jpg" alt="Some image"/>
        </div>
    </div>

    <div class="container">
        <div class="our-projects__info-content">
            <div class="our-projects__label">Make request</div>

            <div class="our-projects__info-block">
                <div class="our-projects__info-text_big title">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                </div>
            </div>

            <div class="our-projects__info-block">
                <div class="our-projects__info-text_small">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante
                    felis, aliquam eu enim sed, ornare pretium velit.
                </div>

                <button class="btn btn_full make-request-btn">Make request</button>
            </div>
        </div>
    </div>
</div>