<div class="menu menu-mobile" id="menu">
    <div class="menu__list-wrap text-container">
            <ul class="menu__list">
                <li class="menu__item menu__item_mobile active">
                    <a href="index.html" class="menu__link menu__link-mobile" data-link="home">Home</a>
                </li>
                <li class="menu__item menu__item_mobile">
                    <a href="projects.html" class="menu__link menu__link-mobile" data-link="projects">Projects</a>
                </li>
                <li class="menu__item menu__item_mobile">
                    <a href="about.html" class="menu__link menu__link-mobile" data-link="about-us">About us</a>
                </li>
                <li class="menu__item menu__item_mobile">
                    <a href="news.html" class="menu__link menu__link-mobile" data-link="blog">Blog</a>
                </li>
                <li class="menu__item menu__item_mobile">
                    <a href="contact.html" class="menu__link menu__link-mobile" data-link="contacts">Contacts</a>
                </li>
                <li class="menu__item menu__item_mobile">
                    <button class="mobile-menu__btn-request btn btn_empty make-request-btn">Send Request</button>
                </li>
            </ul>
    </div>

    <div class="menu__main-info-wrap">
        <div class="main-info menu__main-info">
            <div class="container">
                <div class="main-info__content">
                    <ul class="main-info__social-list">
                        <li class="main-info__social-item">
                            <a href="#" class="main-info__social-link">Fb</a>
                        </li>
                        <li class="main-info__social-item">
                            <a href="#" class="main-info__social-link">In</a>
                        </li>
                        <li class="main-info__social-item">
                            <a href="#" class="main-info__social-link">Be</a>
                        </li>
                    </ul>

                    <div class="main-info__city">
                        <select name="City" id="City" class="select-city">
                            <option value="Berlin" selected class="select-city__option">Berlin</option>
                            <option value="Lublin" class="select-city__option">Lublin</option>
                            <option value="Warszawa" class="select-city__option">Warszawa</option>
                            <option value="Lviv" class="select-city__option">Lviv</option>
                        </select>
                    </div>

                    <ul class="main-info__contacts">
                        <li class="main-info__contacts-item">
                            <a href="tel:+380983527547" class="main-info__contacts-link">+380983527547</a>
                        </li>
                        <li class="main-info__contacts-item">
                            <a href="mailto: info@gmail.com" class="main-info__contacts-link">E: info@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>