<div class="modal modal-thanks">
    <button class="modal__btn-close" id="close-modal">
        <svg viewBox="0 0 9 9" width="9" height="9" class="input-file__btn-icon">
            <use xlink:href="./images/icons/sprite.svg#cross"></use>
        </svg>
    </button>

    <div class="modal__wrap">
        <div class="modal__content-wrap">
            <div class="container">
                <div class="modal__content modal__content_thanks">
                    <div class="modal__block modal__block_thanks">
                        <div class="modal-thanks__text-wrap">
                            <h3 class="modal__title modal-thanks__title">Thank you for your message!</h3>

                            <div class="modal-thanks__text text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae
                                posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.
                            </div>

                            <button class="btn btn_full make-request-btn btn_modal">Send Again</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>